@media only screen and (min-width:768px){
#slider{
    height: 400px;
    width: 700px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
}
}
@media only screen and (max-width:767px){
    #slider{
        height: 400px;
        width: 400px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }   
}   
.slide{
height: 100%;
min-width: 100%;
}  
%buttons{
 position: absolute;
 width: 40px;
 height: 40px;
 top: 50%;
 transform: translateY(-50%);
 border-radius: 20px;
 background-color: rgba(255, 255, 255, 0.5);
 align-items: center;
 justify-content: center;
 cursor: pointer;
 border: 0;
 &:focus{
     outline: none;
 }
    }
#Left{
    left:0;
    @extend %buttons;
}
#Right{
    right: 0;
    @extend %buttons;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}
.img-div{
    width:100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#dots-container{
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}
#dot{
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}